<% include partials/head %>
  <body>
    <div class="container">
      <h2>Sign Up</h2>
      <% if (message != null) { %>
        <div class="flash"><%= message %></div>
      <% } %>

      <form action="/login" method="post" class="col s8 offset-2" id="signup_form">
        <div class="row">
          <input type="text" name="name">
          <label>Name</label>
        </div>
        <div class="row">
          <input type="text" name="username">
          <label>Username</label>
        </div>
        <div class="row">
          <input type="email" name="email">
          <label>Email</label>
        </div>
        <div class="row">
          <input type="text" name="password">
          <label>Password</label>
        </div>
        <div class="row">
          <input type="submit" value="Register">
        </div>
      </form>

      <p>Already have an account? Just go <a href="/login">log in!</a><br/>
      Or go back <a href="/">home</a>.</p>
    </div>
  </body>
</html>
